@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Merienda+One&family=Merriweather:wght@700&family=Nunito:wght@500&family=Raleway:wght@600&display=swap');

.headerr {
  height: 8vh;
  background-color: #1e5ece;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  overflow: hidden;
  z-index: 1;
}
.homePage .headerr {
  height: 10vh;
  background-color: #00000000;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
}

main{
  font-family: 'Nunito', sans-serif;
}

.logo {
  font-size: 11vh;
  font-weight: bold;
  letter-spacing: 0.4rem;
}
.homePage .logo {
  font-size: 4vw;
  font-weight: 300;
  letter-spacing: 0.4rem;
  margin-left: 7vw;
}

.buttons {
  display: flex;
  width: 200px;
  justify-content: space-around;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.homePage .buttons {
  display: flex;
  width: 200px;
  justify-content: space-around;
  font-size: 1vw;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 100;
  margin-right: 100px;
}

.banner img {
  max-width: 100vw;
  /* margin-top: -147px; */
}

.banner{
  position: relative;
  height: fit-content;
}

.slogan-contianer {
  position: absolute;
  top: 15vw;
  margin-left: 10vw;
  font-size: 3.5vw;
  color: rgb(249, 251, 255);
  text-transform: capitalize;
  font-weight: 200;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.slogan2 {
  margin-top: 20px;
  margin-left: 20px;
}

.consult-box {
  position: absolute;
  top: 30vw;
  margin-left: 10vw;
  background-color: rgb(223, 223, 223);
  width: 26vw;
  height: 6.5vw;
  padding: 0.8vw;
}

/* .thick-line {
  height: 2rem;
  width: 45%;
  background-color: #ffffffbe;
  margin-top: -30px;
  margin-left: 20px;
}
.thick-line2 {
  height: 2.7rem;
  width: 55%;
  background-color: #ffffffbe;
  margin-top: -30px;
  margin-left: 20px;
} */

footer {
  height: 100px;
  background-color: #166bff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div {
  margin: 0 40px;
}

.footer-slogan {
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.footer-register-btn, .footer-tel {
  height: 2.5vw;
  width: 26vw;
  font-size: 1vw;
  background-color: #004aba;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 100;
}
.footer-register-btn{
  height: 3.2vw;
}
.footer-register-btn .register{
  font-size: 1.2vw;
}

.footer-tel{
  margin-top: 0.8vw;
  background-color: #fff;
  color: rgb(0, 0, 0);
}
.progress-container{
  height: 600px;
}

.progress-title{
  margin: 40px;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  color: rgb(45, 45, 45);
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 1px;
}

.boxx-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.progress-container .boxx{
  height: 400px;
  width: 220px;
  margin-right: 40px;
  background-color: #fff;
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.345);
  border-radius: 40px;
}

.progress-container .progress-container{
  margin-bottom: 200px;
}

.progress-container .step-box{
  width: 100px;
  height: 38px;
  font-size: 26px;
  background-color: #166bff;
  text-align: center;
  margin:40px auto;
  color: #fff;
  font-weight: 700;
  text-decoration-line: underline;
  border-radius: 10px;
}

.progress-container .box-title{
  height: 50px;
  width: 100%;
  font-size: large;
  font-weight: bold;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(34, 34, 34);
}

.progress-container .box-content{
  margin: 0 20px;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (max-width: 1300px){
  .progress-container .boxx{
    height: 300px;
    width: 420px;
    margin-bottom: 40px;
  }
  .progress-container{
    height: fit-content;
  }
}

body{
  background-color: rgb(255, 255, 255);
}

.qna-container{
  
  height: 800px;
  background-color: rgb(255, 255, 255);
  padding: 40px 200px;
}

.qna-container .progress-title{
  color: #166bff;
  
}

.qna-container .boxx-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.qna-container .boxx-container .box-content{
  font-size: 16px;
}

.qna-container .boxx{
  height: 250px;
  width: 420px;
  margin-right: 40px;
  background-color: #fff;
  border:solid 2px #166bff;
  margin-bottom: 32px;
}

.qna-container .box-title{
  display: flex;
  height: 60px;
  background-color: #bcd4ff;
  align-items: center;
  padding: 0 20px;
  color: #166bff;
  font-size: 20px;
}

.qna-container .step-box{
  height: 1.4em;
  width: 1.4em;
  border-radius: 0.7em;
  background-color: #166bff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 20px;
}

/**************************** Login Register Page ****************************/

.bg-video-h{
  position: fixed;
  /* top: 80px; */
  /* width: 100%; */
  /* height: 100%; */
  z-index: -1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  width: initial;
  height: 100vh;
}
.bg-video-w{
  position: fixed;
  /* top: 80px; */
  /* width: 100%; */
  /* height: 100%; */
  z-index: -1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: initial;
}


/* @media screen and (max-width: 1280px){
  #bg-video{
    position: fixed;
    
    
    display: block;
    height: 92vh;
    width: auto;
    z-index: -1;
    margin: auto;
    align-self: center;
  }
} */

#login-reg-container{
  display: flex;
  /* position: absolute; */
  z-index: 9999;
	height: 80%;
  left: 30vw;
  margin: 10vh auto;
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	/* max-width: 100%; */
  width: 550px;
	min-height: 480px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Merriweather', serif;
}

.middle-line{
  height: 400px;
  margin-top: 40px;
  border-right: solid 1px #aaa;
  z-index: 9999;
}

#login-reg-container form{
  
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
}

#login-reg-container a{
  color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#login-reg-container form input {
  background-color: #fff;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

#login-reg-container .submit-btn{
  border-radius: 20px;
	border: 1px solid #1e5ece;
	background-color: #1e5ece;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.qna-container .step-boxA{
  height: 1.4em;
  width: 1.4em;
  
  
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #166bff;
  margin-right: 20px;
}

.blue-line{
  border-bottom: solid 1px #166bff;
  width: 90%;
  margin: auto;
}

.qna-container .box-content{
  display: flex;
  padding: 25px;
  line-height: 1.6rem;
  font-size: 13px;
}

.bar-container{
  height: 92vh;
  background-color: rgb(0, 115, 255);
  width: 280px;

}
.bar-container .option-btn{
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-size: 18px;
}
.bar-container .option-btn-focus{
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-size: 18px;
  background-color: rgb(1, 61, 134);
}


.bar-container .spacing{
  height: 50px;
}

.bar-container .chooseImgIcon{
  margin: 0 10px;
}

/**************************** Employer Form Submit ****************************/

.employerEnquiryForm{
  font-family: 'Nunito', sans-serif;
}

.employerEnquiryForm .title{
  width: fit-content;
  margin: 40px auto;
  font-size: 34px;
}

.employerEnquiryForm form{
  width: 600px;
  margin: auto;
}

.employerEnquiryForm input{
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 4px 8px;
}

.employerEnquiryForm .inputLabel{
  margin-bottom: 4px;
  text-transform: capitalize;
  font-weight: 600;
}

.employerEnquiryForm .submit-btn{
  margin: 40px auto;
  height: 60px;
  width: 300px;
  color: #fff;
  background-color: rgb(101, 206, 117);
  border-radius:6px ;
  box-shadow: 2px 3px 3px rgb(74, 151, 85);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  font-size: 20px;
}

.employerEnquiryForm .bottom{
  height: 100px;
}

a:-webkit-any-link{
  color: #fff;
  text-decoration:none;
}

select{
  height: 32px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 4px;
}

.loggedin-consult-btn{
  font-size: 22px;
  font-weight: 600;
}

.employer-console-main{
  display: flex;
  font-family: 'Nunito', sans-serif;
}
.request-container{
  width: 100%;
  height: 92vh;
  overflow: scroll;
}

.request-list{
  height: 40px;
  border-bottom: solid 1px #aaa;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.request-list .status{
  margin-right: 30px;
  display: flex;
}
.request-list .state{
  margin-right: 30px;
  width: 100px;
  height: fit-content;
  padding: 3px 0;
  border-radius: 8px;
  /* color: #fff; */
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 15px;
}
.request-list .title{
  margin-left: 30px;
}

/**************************** Admin Post Form ****************************/
.adminPostContainer{
  display: flex;
  justify-content: space-between;
  height: 92vh;
  font-family: 'Nunito', sans-serif;
}

.adminPostForm{
  margin-right: 2vw;
  margin-bottom: 2vh;
  width: 34vw;
  height: 92vh;
  overflow: scroll;
}


.adminPostForm .title{
  width: fit-content;
  margin: 25px auto;
  font-size: 34px;
}

.adminPostForm #inputLabel{
  text-transform: capitalize;
}

/* .adminPostForm Button{
  margin: 40px auto;
  height: 60px;
  width: 300px;
  color: #fff;
  background-color: rgb(101, 206, 117);
  border-radius:6px ;
  box-shadow: 2px 3px 3px rgb(74, 151, 85);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  font-size: 20px;
} */

/**************************** Admin Post Proccessing ****************************/
.PostAndFormContainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.processRequsetContainer{
  width: 30vw;
  margin: 8vh 5vw;
  overflow: scroll;
}

.processRequsetContainer .companyName{
  font-size: 2.3rem;
  font-weight: bold;
  margin: 10px 0;
  color: #1049ac;
}

.processRequsetContainer .titleBox{
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
}

.processRequsetContainer .content{
  font-size: 1.2rem;
  text-decoration: none;
  padding: 5px 0;
  letter-spacing: 0.03rem;
}

.processRequsetContainer .companyInfo{
  font-size: 1.3rem;
  text-decoration: underline;
  padding: 0.8rem 0;
  color: #1049ac;
}

.processRequsetContainer .companyInfoBox a{
  color: black;
  text-decoration: none;
}

.jobPosterContainer{
  display: flex;
  justify-content: flex-start;
}

.adminPostForm .chooseInput{
  display: block;
  margin-left: -100px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.adminPostForm .chooseImgContainer{
  padding: 7px 10px 7px 4px;
  overflow: hidden;
}

.adminPostForm .chooseImgBtn{
  margin: 0.7rem 0;
  background-color: #1A76D2;
  color: #fff;
  font-weight: bold;
  border: #1A76D2 solid 1px;
  border-radius: 0.7rem;
  width: fit-content;
  height: 2rem;
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminPostForm .chooseImgIcon{
  margin-right: 0.5rem;
}





/**************************** Admin Accept Post Page ****************************/

.adminAcceptPostContainer{
  display: flex;
  height: 92vh;  
  font-family: 'Nunito', sans-serif;
}

.acceptRequsetInfoBtnContainer{
  width: 100%;
  overflow: scroll;
}

.acceptRequsetInfoBtnContainer .acceptRequsetInfo{
  height: 75%;
  overflow: scroll;
  margin: 8vh 7.5vw 0 7.5vw;
}

.acceptRequsetInfoBtnContainer .companyName{
  font-size: 2.8rem;
  font-weight: bold;
  margin: 10px 0;
  color: #1049ac;
}

.acceptRequsetInfoBtnContainer .jobTitle{
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.acceptRequsetInfoBtnContainer .titleBox{
  display: flex;
  justify-content: space-between;
}

.acceptRequsetInfoBtnContainer .content{
  font-size: 1.2rem;
  text-decoration: none;
  padding: 2px 0;
  letter-spacing: 0.03rem;
}

.acceptRequsetInfoBtnContainer .companyInfoBox{
  padding-bottom: 0.2rem;
}

.acceptRequsetInfoBtnContainer .companyInfo{
  font-size: 1.5rem;
  text-decoration: underline;
  padding: 0.8rem 0;
  color: #1049ac;
}

.acceptRequsetInfoBtnContainer .companyInfoBox a{
  color: black;
  text-decoration: none;
}

.adminAcceptPostContainer .btnContainer{
  display: flex;
  justify-content: center;
}

.adminAcceptPostContainer .btnContainer button{
  margin: 20px;
  -webkit-border-radius: 10px;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 30px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 9rem;
}

.adminAcceptPostContainer .btnContainer .acceptBtn{
  background-color: #97bf2d;
}

.adminAcceptPostContainer .btnContainer .rejectBtn{
  background-color: #ca3232;
}

.applicantContainer{
  margin-top: 30px;
}

.applicantContainer .title{
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.applicantList{
  overflow: scroll;
  height: 25vh;
}

.contentBox .content a{
  color: black;
}

.candidateInfoContainer .content{
  padding-bottom: 10px;
}

.candidateInfoContainer{
  overflow: scroll;
  height: 50vh;
}

.infoBtnContainer .content{
  padding-bottom: 10px;
}

.acceptRequsetInfo .content{
  padding-bottom: 10px;
}

.adminPostForm .title{
  font-weight: bold;
}

.widthContainer{
  width: 100%;
  display: flex;
}